@import "_normalize"
@import "font"

/*BEGIN vars*/
$black ?= #000
$gray ?= #878787
$gray2 ?= #4d4d4d
$green ?= #89c13a
$white ?= #fff
$blue ?= #1e88c1
/*END vars*/

a{
    color $blue

    &:active,
    &:focus,
    &:hover{
        text-decoration underline
    }
}
clearfix()
    &:before, &:after
        content ""
        display table
    &:after
        clear both
//BEGIN icons
icon()
    display inline-block
    vertical-align middle
.icon-who{
    icon()
    height 18px
    width 17px
    background-image url("../images/who.png")
}
.icon-visa{
    icon()
    height 18px
    width 55px
    margin-right 5px
    background-image url("../images/visa.png")
}
.icon-master{
    icon()
    height 25px
    width 41px
    background-image url("../images/master.png")
}
//END icons 
//BEGIN form controll
.form-label{
    color $gray
}
.form-control{
    padding 5px
    background-color $white
    border 1px solid #c0c0c2
    border-radius 2px
    font-family $ProximaNova
    font-size 15px
    line-height 18px

    &::-webkit-input-placeholder{
        font-size 12px
    }
    &:-moz-placeholder{
        font-size 12px
    }
    &::-moz-placeholder{
        font-size 12px
    }
    &:-ms-input-placeholder{
        font-size 12px
    }
}
select{
    &.form-control{
        padding 5px
        font-size 13px
    }
}
.form-checkbox{
    display table

    .form-checkbox-input{
        display table-cell
        padding 2px 8px 0 0
        vertical-align top

        input{
            display none

            + span{
                position relative
                display inline-block
                width 17px
                height 17px
                background-color $white
                border 2px solid $green
                border-radius 2px
            }

            &:checked{
                + span{
                    &:before{
                        content ''
                        position absolute
                        left 4px
                        top 4px
                        width 9px
                        height 9px
                        border-radius 2px
                        background-color $green
                    }
                }
            }

        }
    }
    .form-checkbox-label{
        display table-cell
        vertical-align top
    }

}
.form-btn{
    display block
    width 100%
    padding 5px 20px
    background-color $green
    border none
    font-size 20px
    line-height 30px
    font-family $ProximaNova
    font-weight bold
    color $white
    text-align center
    border-radius 3px
    cursor pointer

    &:hover,
    &:focus{
        background-color lighten($green, 15%)
    }

    &:active{
        background-color darken($green, 10%)
    }

    &:disabled{
        background-color lighten($green, 35%)
        cursor inherit
    }
}
//END form controll

.pay-form{
    max-width 640px
    margin 0 auto
    font-family $ProximaNova
    font-size 12px
    line-height 130%
    color $black

    &__title{
        padding 10px 0 4px
        border-bottom 2px solid $green
        font-size 15px
        font-weight bold
    }
}
.pay-form__info{
    margin 10px 0 0 0
    min-width 320px
    white-space nowrap

    .pay-form__price{
        display inline-block
        margin-right 15px
        vertical-align top
    }
    .pay-form__price-label{
        margin 0 0 3px
        color $gray
    }
    .pay-form__price-value{
        font-size 20px
        font-weight bold
    }

    .ruble{
        font-family Rouble
    }

    .pay-form__data{
        display: inline-block
        vertical-align top

        dl{
            margin 0
            white-space nowrap

            dt,
            dd{
                display inline-block
                margin 0 3px 0 0
                padding 0
            }

            dt{
                color $gray
            }
        }
    }
}
.pay-text{
    margin 25px 0 20px
    color $gray2
}
.pay-form-fields{
    clearfix()
    margin 0 0 25px

    &__cart-data,
    &__cart-cvs{
        position relative
        width 300px
        height: 200px
        background-color $white
        box-shadow 0 0 8px 0 #888
        border-radius 10px
    }

    //BEGIN cart data
    &__cart-data{
        z-index 2
        float left
    }
    &__cart-data-container{
        padding 10px
    }
    &__cart-data-icons{
        margin 0 0 20px
    }
    &__cart-data-field{
        margin 0 0 20px

        .form-control{
            width 268px
        }

        &.date{
            clearfix()

            .form-label{
                float left
                width 110px
                padding 7px 0 0 0
            }

            .form-control{
                float left
                width 80px
                margin 0 0 0 5px
            }

        }
    }
    //END cart data

    //BEGIN cart cvs
    &__cart-cvs{
        z-index 1
        float right
    }
    &__cart-cvs-container{
        padding 32px 0 0 0
    }
    &__cart-cvs-field{
        height 44px
        padding 54px 10px 0
        background url('../images/cart-bg.png') repeat-x left bottom
        border-top 1px solid #b6b6b7
        border-bottom 1px solid #fafafa
        text-align right

        .form-label{
            margin-right 5px

            span{
                vertical-align middle
                cursor pointer

                &:hover{
                    text-decoration none
                    opacity .7
                }
            }
            > span{
                text-decoration underline
            }
        }

        .form-control{
            width 70px
        }
    }
}
.pay-form-actions{
    clearfix()

    &__checkbox,
    &__btn{
        float left
    }

    &__checkbox{
        width 440px
    }

    &__btn{
        width 170px
        padding 0 0 0 30px
    }
}
.pay-form-branding{
    height 27px
    width 300px
    margin 25px 0
    background-image url("../images/promo.png")
}
@media (max-width 640px)
    .pay-form{
        max-width 300px

        .pay-form-fields{
            &__cart-cvs{
                margin-top -140px
            }
            &__cart-cvs-container{
                padding 90px 0 0 0
            }
            &__cart-cvs-field{
                height 39px
                padding-top 59px
            }
        }
        .pay-form-actions{
            &__btn,
            &__checkbox{
                float none
                width 100%
                padding 0
            }
            &__checkbox{
                margin-bottom 25px
            }
            .form-btn{
                width 100%
            }
        }
    }
    
