<!DOCTYPE html>
<html ng-app="pay_form">
<head lang="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=100%; initial-scale=1; maximum-scale=1; minimum-scale=1; user-scalable=no;">
	<title>Pay Form</title>
	<link rel="stylesheet" href="css/base.css"/>
</head>
<body>


<div class="pay-form" ng-controller="PayFormCtrl">
	<div class="pay-form__title">
		Оплата заказа №38569247 Москва — Торонто, с 18 авг на 8 дней
	</div>
	<div class="pay-form__info">
		<div class="pay-form__price">
			<div class="pay-form__price-label">cумма к оплате</div>
			<div class="pay-form__price-value">170 920 <span class="ruble">c</span></div>
		</div>
		<div class="pay-form__data">
			<dl>
				<dt>оплатить до:</dt>
				<dd>19:00, 24 сен 2014</dd>
			</dl>
			<dl>
				<dt>осталось:</dt>
				<dd>
					<timer interval="1000" countdown="1000">{{hours}}:{{minutes}}:{{seconds}}</timer>
					сек
				</dd>
			</dl>
		</div>
	</div>
	<div class="pay-text">
		Мы не храним ваши данные у себя, а сразу перенаправляем их в зашифрованном виде, используя платежный шлюз Промсвязьбанка
	</div>
	<form novalidate name="paymentForm">
		<div class="pay-form-fields">
			<div class="pay-form-fields__cart-data">
				<div class="pay-form-fields__cart-data-container">
					<div class="pay-form-fields__cart-data-icons">
						<i class="icon-visa"></i>
						<i class="icon-master"></i>
					</div>
					<div class="pay-form-fields__cart-data-field">

						<input
								type="text"
								name="creditCard"
								class="form-control"
								ng-model="ccinfo.number"
								required
								data-credit-card-type
								data-ng-pattern="/^[0-9]+$/"
								data-ng-minlength="16"
								maxlength="16"
								placeholder="Номер карты"/>
					</div>
					<div class="pay-form-fields__cart-data-field date">
						<label class="form-label" for="month">Действительна до</label>
						<select id="month" class="form-control" ng-model="ccinfo.month" name="month" data-card-expiration required>
							<option disabled selected value="">Месяц</option>
							<option ng-repeat="month in months" ng-value="{{month}}">{{month}}</option>
						</select>
						<select class="form-control" ng-model="ccinfo.year" name="year" required>
							<option disabled selected value="">Год</option>
							<option ng-repeat="year in [] | range:currentYear:currentYear+13">{{year}}</option>
						</select>
					</div>
					<div class="pay-form-fields__cart-data-field">
						<input
								class="form-control"
								type="text"
								ng-model="ccinfo.username"
								minlength="1"
								required=""
								placeholder="Держатель карты"/>
					</div>
				</div>
			</div>
			<div class="pay-form-fields__cart-cvs">
				<div class="pay-form-fields__cart-cvs-container">
					<div class="pay-form-fields__cart-cvs-field">
						<label for="cart-cvs" class="form-label">
							<span>CVV/CVC</span>
							<span class="icon-who"></span>
						</label>
						<input id="cart-cvs"
						       type="text"
						       class="form-control"
						       name="securityCode"
						       ng-model="ccinfo.securityCode"
						       required
						       data-ng-pattern="/^[0-9]+$/"
						       data-ng-minlength="3"
						       maxlength="4"
								/>
					</div>
				</div>
			</div>
		</div>
		<div class="pay-form-actions">

			<div class="pay-form-actions__checkbox">
				<label class="form-checkbox">
					<div class="form-checkbox-input">
						<input type="checkbox"
						       name="checked"
						       ng-model="checked"
						       ng-true-value="true"
						       ng-false-value="false"
						       ng-init="checked = false"
								/>
						<span></span>
					</div>
					<div class="form-checkbox-label">
						Я согласен с условиями <a href="#" target="_blank">договора-оферты</a>, с <a href="#" target="_blank">правилами изменения</a>,
						<a href="#" target="_blank">отмены бронирования билета</a> и <a href="#" target="_blank">правилами отмены отеля</a> и не возражаю
						против обработки моих персональных данных и передачи их третьим
						лицам (авиаперевозчику и пр).
					</div>
				</label>
			</div>

			<div class="pay-form-actions__btn">
				<input
						type="submit"
						class="form-btn"
						value="Оплатить"
						ng-disabled="!(checked && paymentForm.$valid)"
						>
			</div>

		</div>
	</form>
	<div class="pay-form-branding"></div>
</div>


<script src="js/libs.js"></script>
<script src="js/app.js"></script>
</body>
</html>